@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.top-header {
  background: $bg-white;
  border-bottom: 1px solid $border-light;
  padding: 1rem 0;

  .logo {
    font-family: $font-display;
    font-size: 2rem;
    font-weight: 700;
    color: $text-primary;
  }

  .search-container {
    max-width: 700px;
    margin: auto;
    position: relative;

    .search-input {
      width: 100%;
      background: #E6EAED;
      border: 1px solid $border-light;
      border-radius: 50px;
      padding: 0.75rem 1.5rem 0.75rem 3rem;

      &:focus {
        outline: none;
        border-color: $accent-yellow;
        box-shadow: 0 0 0 3px rgba(244,198,17,.25);
      }
    }

    .search-icon {
      position: absolute;
      left: 1.25rem;
      top: 50%;
      transform: translateY(-50%);
      color: $muted-text;
    }
  }

  .icon-link {
    font-size: 1.4rem;
    margin-left: 1.5rem;

    &:hover {
      color: $accent-yellow;
    }
  }

  @include responsive(768px) {
    .logo { font-size: 1.6rem; }
    .icon-link {
      font-size: 1.25rem;
      margin-left: 1rem;
    }
  }
}
