// @use "../abstracts/variables" as *;

// .video-card {
//   position: relative;
//   height: 280px;
//   border-radius: 20px;
//   background: $text-primary;
//   overflow: hidden;

//   &:hover {
//     transform: translateY(-4px);
//   }
// }


.video-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.video-card {
  position: relative;
  height: 280px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #022A21;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);

  &:hover {
    transform: translateY(-6px) scale(1.01);
    box-shadow: 0 30px 70px rgba(0, 0, 0, 0.25);
  }
}

/* Duration */
.video-duration {
  position: absolute;
  top: 14px;
  right: 14px;
  background: rgba(0, 0, 0, 0.65);
  color: #fff;
  font-size: 0.75rem;
  padding: 0.25rem 0.6rem;
  border-radius: 6px;
  z-index: 2;
}

/* Play Button */
.play-button {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}

.play-icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #F4C611;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    border-left: 16px solid #000;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}

/* Content */
.video-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2rem;
  z-index: 2;
}

.video-category {
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
}

.video-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  margin-top: 0.2rem;
}

/* Responsive */
@media (max-width: 768px) {
  .video-card {
    height: 240px;
  }
}
