@use "../abstracts/variables" as *;

body {
  font-family: $font-body;
  line-height: 1.6;
  color: $text-primary;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-display;
  color: $text-primary;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

p, span, small {
  color: $text-muted;
}

a {
  text-decoration: none;
  color: inherit;
}
