
@use "variables" as *;

@mixin flex-center($gap: 0) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin responsive($bp) {
  @media (max-width: $bp) {
    @content;
  }
}


/* Media Queries extra*/
@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $bp-sm) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: $bp-md) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: $bp-lg) { @content; }
  }
}

/* Box Shadow */
@mixin shadow($type: soft) {
  @if $type == soft {
    box-shadow: $shadow-soft;
  } @else if $type == hover {
    box-shadow: $shadow-hover;
  }
}
